# Editor
.idea/
.vscode/

# Virtual environment
.venv/
venv/

# Cache
__pycache__/
.cache

# Default songs download path
songs/

# Settings
.env
settings.json

# auto-py-to-exe
output/

# FFmpeg
ffmpeg/